.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 50px;
    padding-top: 50px;
}
.tabs{
    position: relative;
    display: flex;
    background-color: #fff;
    width: 300px;

    --active-tab: 0;
}
.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    cursor: pointer;
    a{
       text-decoration: none;
    }
}
.underline {
    position: absolute;
    bottom: 0;
    left: calc(var(--active-tab) * 100px);
    padding: 1px;
    width: 100px;
    background-color: rgb(38, 109, 200);
    transition: all ease-in .3s;
}