
<!-- <app-main-container> -->
  <div class="container notfound_container ">
    <div class="logo_container--container">
      <div class="logo_container">
        <a routerLink="../">
          <picture>
            <img src="" alt="statistics" class="logo">
          </picture>
        </a>
      </div>
    </div>
    <div class="notfound_container--form">
      <div class="notfound_form">
        <div class="" >
          <div class="text-center">
              <h1 class="notfound_heading">Not found</h1>
              <p class="notfound_text">Sorry</p>
            <div class="notfound_btn--container">
              <a routerLink="../../statistics" type="button" class="notfound_btn">To statistics</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </app-main-container> -->
<!-- <app-footer></app-footer> -->
