<section class="container__page">
    <div class="container__form">
        <form class="form__box" [formGroup]="formSelectsStat" (submit)="filter()" action="">
            <div class="container__input">
                <label for="search">Country</label>
                <select type="text" name="country" formControlName="country" id="country" defaultValue="" (change)="checkCountry($event)">
                    <option value="" selected>All</option>
                    <option *ngFor="let country of countries" [value]="country.country_id">{{country.country_name}}</option>
                </select>  
            </div>
            <div class="container__input">
                <label for="search">Last days</label>
                <select type="text" name="days" formControlName="days" id="days" defaultValue="">
                    <option value="" selected>All</option>
                    <option value="7" selected>7 days</option>
                    <option value="30" selected>30 days</option>
                    <option value="90" selected>90 days</option>
                </select>  
            </div>
            <div class="container__input">
                <label for="search">Companies</label>
                <select type="text" name="companies" formControlName="companies" id="companies" defaultValue="">
                    <option value="" selected>All</option>
                    <option *ngFor="let company of companies" [value]="company.company_id">{{company.company_name}}</option>
                </select>  
            </div>
            <div class="container__input">
                <label for="search">Compare to</label>
                <select type="text" name="compare" formControlName="compare" id="compare" defaultValue="">
                    <option value="" selected>All</option>
                    <option value="1" selected>Country - leads to Channel</option>
                    <option value="2" selected>Country - channel count leads</option>
                </select>  
            </div>
            <div class="container__button">
                <button type="submit">Filter</button>
            </div>
        </form>            
        <div class="container__input">
            <label for="search">Search</label>
            <input type="text" name="search" id="search" placeholder="Enter" (keyup)="search($event)">  
        </div>
    </div>
    <div class="mt-3 " style="margin-bottom: 100px;">
        <p-table
            [value]="channels"
            [columns]="selectedColumns"
            styleClass="p-datatable-sm"
            [paginator]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rows]="10"
            selectionMode="multiple"
            dataKey="id"
            [rowsPerPageOptions]="[5,10, 25, 50, 100, 200, 400, 1000]"
            >
            <ng-template pTemplate="caption">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px'}" placeholder="Choose Columns"></p-multiSelect>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" pSortableColumn="{{col.sort ? col.field : ''}}" style="min-width:100px">
                        {{ col.header }}
                        <p-sortIcon *ngIf="col.sort" field="{{col.field}}"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button icon="pi pi-refresh" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button icon="pi pi-download" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>
    </div>
</section>